
venv
realtimesst.log

__pycache__

emotion_cache.json
emotion_cache_v2.json
session_results.jsonl
session_results_v2.jsonl
user_evaluation.jsonl

.env
user_face_templates
static/user_upload_cache
user_face_templates/face_template.jpg
